{% assign post = include.post %}
{% assign link_title = include.link_title %}

<article id="post{{ post.id | replace:'/','-' }}" class="page post{% if link_title %} mb6{% endif %}" role="article">
  <header>
    <h1 class="post-title">
      {% if link_title %}<a href="{{ post.url | relative_url }}" class="flip-title">{% endif %}
        {{ post.title }}
      {% if link_title %}</a>{% endif %}
    </h1>


    {% include message.html text=post.description hide=page.hide_description %}
  </header>

  {% unless include.excerpt %}
    {{ post.content }}
  {% else %}
    {{ post.excerpt }}
    {% capture post_title %}<a class="heading flip-title"">{{ post.title }}</a>{% endcapture %}
    {% assign text = site.data.strings.continue_reading | default:"Continue reading <!--post_title-->" %}
    <footer>
      <p class="read-more">
        {{ text | replace:"<!--post_title-->", post_title }}
      </p>
    </footer>
  {% endunless %}
</article>
